document.addEventListener("DOMContentLoaded", function () {

    const form = document.getElementById("agreementForm");
    const startDate = document.getElementById("startDate");
    const duration = document.getElementById("duration");
    const endDate = document.getElementById("endDate");

    function calculateEndDate() {

        if (startDate.value && duration.value) {

            let date = new Date(startDate.value);

            date.setMonth(date.getMonth() + parseInt(duration.value));

            endDate.value = date.toISOString().split("T")[0];
        }
    }

    startDate.addEventListener("change", calculateEndDate);
    duration.addEventListener("change", calculateEndDate);

    form.addEventListener("submit", function (e) {

        e.preventDefault();

        const agreement = {

            ownerName: document.getElementById("ownerName").value,
            ownerMobile: document.getElementById("ownerMobile").value,
            ownerEmail: document.getElementById("ownerEmail").value,
            ownerAadhaar: document.getElementById("ownerAadhaar").value,
            ownerPan: document.getElementById("ownerPan").value,

            tenantName: document.getElementById("tenantName").value,
            tenantMobile: document.getElementById("mobileNumber").value,
            tenantEmail: document.getElementById("tenantEmail").value,
            tenantAadhaar: document.getElementById("tenantAadhaar").value,
            tenantPan: document.getElementById("tenantPan").value,

            propertyAddress: document.getElementById("propertyAddress").value,

            rent: document.getElementById("rent").value,
            deposit: document.getElementById("deposit").value,
            maintenance: document.getElementById("maintenance").value,

            startDate: startDate.value,
            endDate: endDate.value,
            duration: duration.value
        };

        let agreements =
            JSON.parse(localStorage.getItem("agreements")) || [];

        agreements.push(agreement);

        localStorage.setItem(
            "agreements",
            JSON.stringify(agreements)
        );

        alert("Agreement Saved Successfully!");

        form.reset();

        endDate.value = "";

    });

});