*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, Arial, sans-serif;
}

body{
    background:#0d2b5c;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    background:#fff;
    width:380px;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
    text-align:center;
}

.login-box h1{
    color:#0d2b5c;
    margin-bottom:10px;
}

.login-box p{
    color:#666;
    margin-bottom:25px;
}

.login-box input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.login-box button{
    width:100%;
    padding:14px;
    background:#0d2b5c;
    color:#fff;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.login-box button:hover{
    background:#f4b400;
    color:#000;
}

#msg{
    margin-top:15px;
    color:red;
    font-weight:bold;
}